body {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

.top {
    background-image: url('./../img/main/topBack.jpg');
    max-width: 1460px;
    width: 100%;
    height: 80px;
    margin: 40px auto 0 auto;
    position: relative;
}

.logo {
    background-image: url('./../img/main/logo.png');
    max-width: 293px;
    width: 100%;
    height: 115px;
    position: absolute;
    left: -76px;
    top: -11px;
    z-index: 9;
}

.top-ul {
    height: 100%;
    width: 651px;
    margin-left: 200px;
    list-style-type: none;
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
    display: flex;
}

.top-li {
    transition: all .25s cubic-bezier(.23,1,.32,1) 0s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(bottom,#efd100,#e2a233 19%,#f0c328 30%,#fff1a3 43%,#ffe13e 50%,#fff 51%,#fff);
    background-size:17px 43px;   
    color: #f8b700;
    display: flex;
    position: relative;
    z-index: auto;
    text-transform: uppercase;
    height: 100%;
    align-items: center;
    padding: 0 8px;
    cursor: pointer;
}

.top-li::before {
    background: rgba(68,47,38,.5);
    bottom: 1px;
    content: "";
    position: absolute;
    left: 0;
    top: 1px;
    width: 1px;
}
.top-li::after{
    background: rgba(21,13,9,.8);
    left: auto;
    right: 0;
    bottom: 1px;
    content: "";
    position: absolute;
    top: 1px;
    width: 1px;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    height: 100vh;
    z-index: -1;
}

.video-pane {
    position: absolute;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 1903px;
    display: block;
}

.hero-section {
    margin: 160px auto 0 auto;
    max-width: 1560px;
    width: 100%;
}

.hero-title {
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 51.6px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-weight: 700;
}

.hero-content {
    width: 55%;
}

.hero-text {
    font-size: 21px;
    font-weight: 400;
    color: #ebdec2;
    line-height: 1.5;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.hero-info {
    margin: 24px auto 36px 0px;
    color: #ebdec2;
    font-weight: 400;
    font-size: 21px;
    display: block;
}

.link {
    padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 400;
    color: #f7b10a;
}

.link-red {
    border: 1px solid #ea3012;
    background: rgba(159, 22, 0, .6);
    margin-right: 15px;
}

.link-red:hover {
    background: #9f1600;
}

.link-orange {
    border: 1px solid #c77e19;
    background: rgba(0, 0, 0, .4);
}

.link-orange:hover {
    background: #b06601;
    color: #ffd36b;
}

.news-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    margin: 110px auto 0 0;
    display: inline-block;
    line-height: 1.5;
    margin-right: 15px;
    margin-bottom: 20px;
}

.news-link {
    color: #f8b700;
    text-decoration: none;
    font-size: 14.5px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    line-height: 1.5;
}

.news-link:hover {
    text-decoration: underline;
}

.news-list {
    height: 250px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-card {
    width: 24%;
    border: 1px solid #504137;
    position: relative;
    display: block;
    max-height: 210px;
    cursor: pointer;
}

.news-card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.news-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.news-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .8) 90%);
}

.news-text-inner {
    position: relative;
    padding: 20px;
    pointer-events: none;
}

.news-text-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #cacaca;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.news-text-title {
    line-height: 22px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    color: #f8b700;
}

.news-card:hover {
    border-color: #f8b700;
}

.news-card:hover .news-text-title {
    color: #fff;
}

.line-black-margin {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
    pointer-events: none;
    margin-top: 15px;
}

.preorder-section {
    height: 480px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preorder-content-right {
    position: relative;
    height: 480px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.preorder-text-right {
    position: relative;
    text-align: right;
    width: 55%;
}

.preorder-title {
    margin: 0;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.preorder-subtitle {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
    line-height: 77px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.preorder-content-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ebdec2;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.line-black {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
    pointer-events: none;
}

.preorder-content-left {
    position: relative;
    height: 480px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preorder-text-left {
    position: relative;
    text-align: left;
    width: 55%;
}

.split {
    width: 100%;
    background-color: black;
    position: relative;
    display: flex;
    /* height: 544px; */
    justify-content: space-between;
}

.split-col {
    position: relative;
    width: 50%;
    border: 1px solid #504137;
    max-width: 948px;
}

.split-img-back {
    width: 100%;
    height: 375px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.split-img {
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    width: 100%;
    height: 100%;
}

.split-left-img {
    top: -30px;
}

.split-right-img {
    top: -50px;
}

.split-text {
    max-height: 124px;
    background: #211510;
    padding: 20px 30px;
    max-width: 948px;
    position: relative;
    border-top: 1px solid #504137;
}

.split-content {
    height: 124px;
    position: relative;
}

.split-subtitle {
    margin: 0;
    color: #ebdec2;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
    line-height: 26px;
}

.split-title {
    margin: 0;
    color: #f8b700;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    line-height: 53px;
}

.split-p {
    margin-top: 20px;
    color: #ebdec2;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    text-align: center;
}

.split-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

.split-col:hover {
    border-color: #f8b700;
}

.split-text-down {
    max-height: 79px;
    background: #211510;
    padding: 20px 30px;
    max-width: 948px;
    position: relative;
    border-top: 1px solid #504137;
}

.split-content-down {
    height: 79px;
    position: relative;
}

.footer {
    width: 100%;
    background-color: #211510;
    display: block;
}

.socials {
    background-image: url(./../img/main/socialsBack.jpg);
    position: relative;
    background-position: top;
    background-size: 100%;
    height: 85px;
    border: 1px solid #504137;
}

.socials-links {
    padding: 20px 0;
    color: #ebdec2;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-links-title {
    font-weight: 700;
    line-height: 26px;
    font-size: 17px;
    padding: 10px 0;
    display: inline-block;
}

.socials-links-panel {
    padding: 0 20px;
}

.footer-pane {
    background-image: url(./../img/main/Pane-dirtDark.ea235926d6487091ac2d6786fd7d2615.jpg);
    background-size: 100%;
    background-position: top;
    background-repeat: repeat;
    padding: 30px 0;
}

.pane-content {
    max-width: 1560px;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    color: rgba(255, 255, 255, .7);
}

.footer-about {
    max-width: 100%;
    width: 1560px;
    margin: 15px 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
}

.footer-about-li {
    display: inline;
}

.footer-about-li-vac {
    display: inline;
}

.li-href {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.li-href:hover {
    color: #fff;
}

.footer-about-li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
    margin: 0 15px;
    pointer-events: none;
}

.blizzard-ent {
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
}

.blizzard-trademark {
    width: 100%;
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.blizzard-trademark-a {
    font-weight: 700;
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
    transition: color .2s;
}

.blizzard-trademark-a:hover {
    color: #fff
}

.footer-privacy {
    max-width: 100%;
    width: 1560px;
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    list-style-type: none;
    text-transform: uppercase;
    line-height: 22px;
}

.footer-privacy-li {
    display: inline;
}

.footer-privacy-li-pol {
    display: inline;
}

.footer-privacy-li::before {
    content: '';
    display: inline-block;
    height: 10px;
    width: 1px;
    background-color: rgba(255, 255, 255, .3);
    margin: 0 15px;
    pointer-events: none;
}

.privacy-link {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.privacy-link:hover {
    color: #fff;
}

.age {
    width: 100%;
    max-width: 1560px;
    margin: 0;
    padding-top: 30px;
    display: inline-block;
}

.age-img {
    background-image: url(./../img/icons/age.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    max-height: 99px;
    max-width: 65px;
    width: 100%;
    height: 100%;
    margin: 0 auto auto;
}

.blizz-svg {
    color: #00aeff;
    width: 124px;
    height: 66px;
    margin: 0 auto;
    display: block;
}

.socials-icon {
    width: 32px;
    height: 32px;
    color: #f8b700;
}

.socials-icon:hover {
    color: #fff;
}

.socials-href {
    text-decoration: none;
    padding: 0 10px;
}

.release-panel {
    background-image: url(./../img/button/footerBack.png);
    width: 100%;
    position: fixed;
    height: 74px;
    background-size: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.release-panel__timer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
}

.timer {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timer__time {
    font-family: 'roboto', sans-serif;
    color: #000;
    font-size: 17px;
    line-height: 26px;
    background-image: url(./../img/button/timer.jpg);
    width: 42px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0 0 4px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    /* display: flex; */
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-container {
    max-width: 350px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    background: #ffffff;
    position: relative;
    color: #000;
    padding: 20px;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    color: #000000;
    cursor: pointer;
}

.preorder-button {
    cursor: pointer;
}

.modal__choice {
    height: 70px;
    cursor: pointer;
    background: #ffffff;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.modal__choice:hover {
    background: #8b8b8b;
}

.modal__title {
    text-align: center;
}

.step {
    display: none;
    text-align: center;
}

.step.isActive {
    display: block;
}

.next-step {
    margin-top: 20px;
    max-width: 180px;
    width: 100%;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: #504f4f;
    color: #ffffff;
    display: inline-block;
    cursor: pointer;
    border-radius: 15px;
}

.button__container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.button__container.step{
    flex-basis: 40%;
}

.menu-links{
    text-align: center;
}
.list-arrow {
    background-image: url(./../img/icons/arrows.png);
    background-size: 400% 100%;
    height: 11px;
    left: -2px;
    width: 16px;
    display: inline-block;
    position: relative;
    text-align: right;
}
.top-li:hover {
    color: #ffffff;
}
.hidden-menu {
top: 80px;
left: -315px;
position: absolute;
max-width: 1450px;
min-width: 1450px;
width: 100%;
padding: 45px 40px 40px 40px;
margin-left: auto;
margin-right: auto;
height: 375px;
border: 1px solid #311c06;
background-color: #211510;
opacity: 0.8;
display: none;
z-index: 8;
}
.hidden-link {
    text-align: center;
}
.hidden-menu.active-menu {
    display: block;
}