body {
    color: #fff;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.top {
    background-image: url('./../img/main/topBack.jpg');
    max-width: 1460px;
    width: 100%;
    height: 80px;
    margin: 40px auto 0 auto;
    position: relative;
}

.logo {
    background-image: url('./../img/main/logo.png');
    max-width: 293px;
    width: 100%;
    height: 115px;
    position: absolute;
    left: -76px;
    top: -11px;
}

ul {
    height: 100%;
    width: 641px;
    margin-left: 200px;
    list-style-type: none;
}

ul li {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100, #e2a233 19%, #f0c328 30%, #fff1a3 43%, #ffe13e 50%, #fff 51%, #fff);
    background-size: 1em 2.5em;
    color: #f8b700;
    display: inline-block;
    line-height: 1.5em;
    position: relative;
    z-index: auto;
    background-position: center 0;
    text-transform: uppercase;
}

.video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    height: 100vh;
    z-index: -1;
}

.video-pane {
    position: absolute;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    display: block;
}

.hero-section {
    margin: 160px auto 0 auto;
    max-width: 1560px;
    width: 100%;
}

.hero-title {
    margin: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 51.6px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-weight: 700;
}

.hero-content {
    width: 55%;
}

.hero-text {
    font-size: 21px;
    font-weight: 400;
    color: #ebdec2;
    line-height: 1.5;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.hero-info {
    margin: 24px auto 36px 0px;
    color: #ebdec2;
    font-weight: 400;
    font-size: 21px;
    display: block;
}

.link {
    padding: 12px 30px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 400;
    color: #f7b10a;
}

.link-red {
    border: 1px solid #ea3012;
    background: rgba(159, 22, 0, .6);
    margin-right: 15px;
}

.link-red:hover {
    background: #9f1600;
}

.link-orange {
    border: 1px solid #c77e19;
    background: rgba(0, 0, 0, .4);
}

.link-orange:hover {
    background: #b06601;
    color: #ffd36b;
}

.news-title {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
    margin: 110px auto 0 0;
    display: inline-block;
    line-height: 1.5;
    margin-right: 15px;
    margin-bottom: 20px;
}

.news-link {
    color: #f8b700;
    text-decoration: none;
    font-size: 14.5px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    line-height: 1.5;
}

.news-link:hover {
    text-decoration: underline;
}

.news-list {
    height: 250px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.news-card {
    width: 24%;
    border: 1px solid #504137;
    position: relative;
    display: block;
    max-height: 210px;
    cursor: pointer;
}

.news-card-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.news-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.news-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .8) 90%);
}

.news-text-inner {
    position: relative;
    padding: 20px;
    pointer-events: none;
}

.news-text-date {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #cacaca;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.news-text-title {
    line-height: 22px;
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    color: #f8b700;
}

.news-card:hover {
    border-color: #f8b700;
}

.news-card:hover .news-text-title {
    color: #fff;
}

.line-black-margin {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
    pointer-events: none;
    margin-top: 15px;
}

.preorder-section {
    height: 480px;
    width: 100%;
    position: relative;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.preorder-content-right {
    position: relative;
    height: 480px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.preorder-text-right {
    position: relative;
    text-align: right;
    width: 50%;
}

.preorder-title {
    margin: 0;
    color: #ebdec2;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.preorder-subtitle {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 77px;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
}

.preorder-content-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ebdec2;
    text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, .8);
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

.line-black {
    height: 4px;
    margin: 0 auto;
    width: 100%;
    background-color: #000;
    position: relative;
    pointer-events: none;
}

.preorder-content-left {
    position: relative;
    height: 480px;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.preorder-text-left {
    position: relative;
    text-align: left;
    width: 50%;
}